@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: darkslategray;
}

::-webkit-scrollbar-thumb {
  background-color: slategray;
  border-radius: 10px;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
}